html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App header {
    font-size: calc(10px + 2vmin);
    color: #000;
    display: flex;
    place-content: center;

    h1 {
        font-weight: 300;
    }
}

.gallery {
    padding: 0 4rem;
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @media screen and (max-width: 768px) {
        padding: 0 2rem;
    }
}

.photo {
    margin: 0;
    padding: 0;
    position: relative;
    color: rgba(0, 0, 0, 0);
    display: grid;

    img {
        margin: 0;
        width: 100%;
        min-width: 350px;
        transition: 0.15s ease-in-out;
    }

    h2 {
        position: absolute;
        text-align: center;
        width: 100%;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        font-weight: 300;
    }

    &::after {
        transition: ease 0.2s;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 1);

        &::after {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.fullscreen-bg {
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transition: ease 150ms;

    &.show {
        opacity: 1;
        z-index: 999;
        display: visible;
    }

    &.hide {
        z-index: -1;
        opacity: 0;
    }

    &.enter {
        opacity: 1;
    }

    img {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}
