$bp-s: 768px;
$bp-m: 900px;
$bp-l: 1250px;

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 5vh 0;
    width: 100vw;
    transition: ease 350ms;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.show {
        opacity: 1;
        z-index: 999;
        transition: ease 250ms;
    }

    &.hide {
        z-index: -1;
        opacity: 0;
    }

    &.enter {
        opacity: 1;
    }

    .backdrop {
        backdrop-filter: blur(6px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
        width: auto;
        max-width: 100vw;
    }

    .location {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #fff;
        }

        @media screen and (max-width: $bp-s) {
            font-size: 1.75rem;
        }
    }
}

.close {
    border: none;
    background: none;
    margin: 0;
    z-index: 999;
    position: absolute;
    cursor: pointer;
    outline: none;
    transition: ease 0.2s;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    stroke: #fff;

    @media screen and (max-width: $bp-s) {
        width: 3rem;
        top: calc(5vh + 0.5rem);
        right: 0;
    }
}
