$bp-s: 768px;
$bp-m: 900px;
$bp-l: 1250px;

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    font-size: calc(10px + 2vmin);
    color: #000;
    text-align: center;

    h1 {
        font-weight: 300;
    }
}

.gallery-wrapper {
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;
    opacity: 0;
    transition: ease 1s;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;

    &.mounted {
        opacity: 1;
        transform: translateY(0);
    }
}

.gallery {
    flex: 1 1 0%;
    width: 100%;
    padding: 0 4rem 3rem 4rem;
    grid-gap: 1rem;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 35vh;

    @media screen and (min-width: $bp-s) and (max-width: $bp-m) {
        padding: 0 2rem 2rem 2rem;
        grid-template-rows: 40vh;
    }

    @media screen and (max-width: $bp-s) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-template-rows: 40vh;
        padding: 0 1rem 1.5rem 1rem;
    }
}

footer {
    text-align: center;
    color: #ccc;
    font-size: 1rem;

    p {
        margin: 0 0 2rem 0;
    }

    a {
        text-decoration: none;
        color: #ccc;

        &:visited {
            color: #ccc;
        }
    }
}
