$bp-s: 768px;
$bp-m: 900px;
$bp-l: 1250px;

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

header {
    font-size: calc(10px + 2vmin);
    color: #000;
    display: flex;
    place-content: center;

    h1 {
        font-weight: 300;
    }
}

.gallery-wrapper {
    opacity: 0;
    transition: ease 1s;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    height: 100%;

    &.mounted {
        opacity: 1;
        transform: initial;
    }
}

.gallery {
    flex: 1 1 0%;
    width: 100%;
    padding: 0 4rem 3rem 4rem;
    grid-gap: 1rem;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @media screen and (min-width: $bp-s) and (max-width: $bp-m) {
        padding: 0 2rem 2rem 2rem;
    }

    @media screen and (max-width: $bp-s) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        padding: 0 1rem 1.5rem 1rem;
    }
}

.photo {
    position: relative;
    color: rgba(0, 0, 0, 0);
    display: flex;

    img {
        margin: 0;
        width: 100%;
        height: 35vh;
        object-fit: cover;
        transition: 0.15s ease-in-out;

        @media screen and (max-width: $bp-m) {
            height: 40vh;
        }
    }

    h2 {
        position: absolute;
        text-align: center;
        width: 100%;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        font-weight: 300;
    }

    &::after {
        transition: ease 0.2s;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 1);

        &::after {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transition: ease 350ms;

    &.show {
        opacity: 1;
        z-index: 999;
        display: visible;
        transition: ease 250ms;
    }

    &.hide {
        z-index: -1;
        opacity: 0;
        // display: none;
    }

    &.enter {
        opacity: 1;
    }

    img {
        margin: auto;
        top: 0;
        bottom: 0;
        height: 100%;
        object-fit: cover;
        width: auto;
        max-width: 100vw;

        @media screen and (min-width: $bp-s) and (max-width: $bp-m) {
            height: auto;
            min-height: 75vh;
            width: 100%;
        }

        @media screen and (max-width: $bp-s) {
            height: auto;
            min-height: 50vh;
            width: 100%;
        }
    }

    .fullscreen-bg {
        backdrop-filter: blur(6px);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
    }

    button {
        border: none;
        background: none;
        margin: 0;
        padding: 0;
        z-index: 999;
        position: absolute;
        cursor: pointer;
        outline: none;
        transition: ease 0.2s;

        svg {
            stroke: rgba(50, 50, 50, 0.5);
        }
    }
}

.previous,
.next {
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;

    &:hover {
        transform: translateY(-50%) scale(1.15);
    }
}

.previous {
    left: 1rem;
}

.next {
    right: 1rem;
}

.close {
    top: 1rem;
    right: 1rem;
    width: 2rem;
}

footer {
    text-align: center;
    color: #ccc;
    font-size: 1rem;

    p {
        margin: 0 0 2rem 0;
    }

    a {
        text-decoration: none;
        color: #ccc;

        &:visited {
            color: #ccc;
        }
    }
}
