.spinner {
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);
}

.textCircle {
    transform-origin: 50%;
    fill: black;
    visibility: hidden;

    &.loading {
        visibility: visible;
        animation: rotate 3s infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
